@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.scroll-container {
  overflow-x: hidden; /* Hide horizontal overflow */
  overflow-y: hidden; /* Ensure no vertical scroll */

  scroll-snap-type: x mandatory;
}
.promo-card {
  scroll-snap-align: start;
}

.scroll-content {
  display: flex; /* Horizontal alignment of child elements */
  animation: scroll 150s linear infinite; /* Smooth left-to-right scrolling */
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-container:hover .scroll-content {
  animation-play-state: paused;
}
